<wm-partial data-ng-controller="leftnavPageController" name="leftnav" type="leftnav">
    <wm-nav name="leftnavigation" type="pills" layout="stacked">
        <wm-nav-item name="list_latestUpdate">
            <wm-anchor caption="Dashboard" name="dashboardLink" iconclass="glyphicon glyphicon-dashboard" accessroles="Authenticated" on-click="goToPage_dashboard"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_inTheNews">
            <wm-anchor caption="Games" name="gamesLink" iconclass="fa fa-futbol-o" on-click="goToPage_listgames" accessroles="Authenticated"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_share">
            <wm-anchor caption="Career" name="careerLink" iconclass="fa fa-compass" accessroles="Authenticated"></wm-anchor>
        </wm-nav-item>
        <wm-nav-item name="list_help">
            <wm-anchor caption="Videos" name="videosLink" iconclass="fa fa-youtube-play" accessroles="Authenticated" on-click="goToPage_videos"></wm-anchor>
        </wm-nav-item>
    </wm-nav>
</wm-partial>