<wm-page data-ng-controller="listgamesPageController" pagetitle="Listgames" name="page1">
    <wm-header content="header" name="header1"></wm-header>
    <wm-content name="content1">
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel>
        <wm-page-content columnwidth="10" name="page_content1">
            <wm-panel class="panel-primary" name="panel1" title="Games Played">
                <wm-livegrid formlayout="dialog" name="livegrid1" service="skout@GamesPlayed">
                    <wm-grid gridfirstrowselect="true" readonlygrid="false" dataset="bind:Variables.SkoutGamesPlayedData.dataSet" navigation="Basic" name="grid1">
                        <wm-grid-column binding="minutesPlayed" caption="Minutes Played" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="yellowCards" caption="Yellow Cards" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="redCards" caption="Red Cards" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="goalsScored" caption="Goals Scored" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="goalsTaken" caption="Goals Taken" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="games.gameDate" caption="Games Game Date" type="date" generator="assigned" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="games.scoreTeam1" caption="Games Score Team1" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="games.scoreTeam2" caption="Games Score Team2" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="games.location" caption="Games Location" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" show="true" readonly="false"></wm-grid-column>
                        <wm-grid-column binding="rowOperations" caption="Actions" type="custom" readonly="true" pcdisplay="true" mobiledisplay="true" sortable="false" searchable="false" show="true"></wm-grid-column>
                        <wm-grid-action key="addNewRow" display-name="New" show="true" class="btn-primary" iconclass="wi wi-plus" title="New" action="addNewRow()"></wm-grid-action>
                        <wm-grid-row-action key="updaterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-pencil" title="Edit" action="editRow()"></wm-grid-row-action>
                        <wm-grid-row-action key="deleterow" display-name="" show="true" class="btn-transparent" iconclass="wi wi-trash" title="Delete" action="deleteRow()"></wm-grid-row-action>
                    </wm-grid>
                    <wm-liveform novalidate="false" title="Games_played Info" formlayout="dialog" dataset="bind:Variables.SkoutGamesPlayedData.dataSet" captionalign="left" captionposition="top" name="liveform1" accessroles="Authenticated">
                        <wm-layoutgrid name="layoutgrid1">
                            <wm-gridrow name="gridrow1">
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn1">
                                    <wm-form-field name="minutesPlayed" displayname="Minutes Played" required="false" show="true" generator="assigned" primary-key="false" key="minutesPlayed" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn2">
                                    <wm-form-field name="goalsScored" displayname="Goals Scored" required="false" show="true" generator="assigned" primary-key="false" key="goalsScored" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow2">
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn3">
                                    <wm-form-field name="yellowCards" displayname="Yellow Cards" required="false" show="true" generator="assigned" primary-key="false" key="yellowCards" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn4">
                                    <wm-form-field name="goalsTaken" displayname="Goals Taken" required="false" show="true" generator="assigned" primary-key="false" key="goalsTaken" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow3">
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn5">
                                    <wm-form-field name="redCards" displayname="Red Cards" required="false" show="true" generator="assigned" primary-key="false" key="redCards" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                    widget="number"></wm-form-field>
                                </wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn6">
                                    <wm-form-field name="games" displayname="Games" required="false" show="true" generator="assigned" primary-key="false" key="games" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                            <wm-gridrow name="gridrow4">
                                <wm-gridcolumn columnwidth="6" name="gridcolumn7"></wm-gridcolumn>
                                <wm-gridcolumn columnwidth="6" show="show" name="gridcolumn8">
                                    <wm-form-field name="players" displayname="Players" required="false" show="true" generator="assigned" primary-key="false" key="players" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                                </wm-gridcolumn>
                            </wm-gridrow>
                        </wm-layoutgrid>
                        <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                        <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                    </wm-liveform>
                </wm-livegrid>
            </wm-panel>
            <wm-button class="btn-default" caption="New Game Played" type="button" name="button1" on-click="goToPage_gameplayed"></wm-button>
        </wm-page-content>
    </wm-content>
    <wm-footer content="footer" name="footer1"></wm-footer>
</wm-page>