<wm-page data-ng-controller="gameformPageController" pagetitle="Gameform" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-livegrid name="livegrid1" service="skout@Games">
                <wm-grid gridfirstrowselect="true" readonlygrid="true" title="Games List" dataset="bind:Variables.SkoutGamesData.dataSet" navigation="Basic" name="grid1">
                    <wm-grid-column binding="gameDate" caption="Game Date" generator="assigned" pcdisplay="true" mobiledisplay="true" type="date" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="scoreTeam1" caption="Score Team1" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="scoreTeam2" caption="Score Team2" generator="assigned" pcdisplay="true" mobiledisplay="true" type="integer" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="location" caption="Location" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="competitions.id" caption="Competitions Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-grid-column>
                    <wm-grid-column binding="competitions.description" caption="Competitions Description" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string" readonly="true"></wm-grid-column>
                </wm-grid>
                <wm-liveform novalidate="false" title="Games Info" formlayout="inline" dataset="bind:Variables.SkoutGamesData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn1">
                                <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn2">
                                <wm-form-field name="gameDate" displayname="Game Date" required="true" show="true" generator="assigned" primary-key="false" key="gameDate" type="date" is-related="false" pc-display="true" mobile-display="true" widget="date"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn3">
                                <wm-form-field name="scoreTeam1" displayname="Score Team1" required="false" show="true" generator="assigned" primary-key="false" key="scoreTeam1" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn4">
                                <wm-form-field name="scoreTeam2" displayname="Score Team2" required="false" show="true" generator="assigned" primary-key="false" key="scoreTeam2" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true"
                                widget="number"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn5">
                                <wm-form-field name="location" displayname="Location" required="false" show="true" generator="assigned" primary-key="false" key="location" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow5">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn6">
                                <wm-form-field name="competitions" displayname="Competitions" required="false" show="true" generator="assigned" primary-key="false" key="competitions" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow6">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn7">
                                <wm-form-field name="teamsByTeam2" displayname="Teams By Team2" required="false" show="true" generator="assigned" primary-key="false" key="teamsByTeam2" type="list" is-related="true" pc-display="true" mobile-display="true"
                                widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow7">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn8">
                                <wm-form-field name="teamsByTeam1" displayname="Teams By Team1" required="false" show="true" generator="assigned" primary-key="false" key="teamsByTeam1" type="list" is-related="true" pc-display="true" mobile-display="true"
                                widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow8">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn9">
                                <wm-form-field name="users" displayname="Users" required="false" show="true" generator="assigned" primary-key="false" key="users" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow9"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
    </wm-content>
</wm-page>