<wm-page data-ng-controller="videosPageController" pagetitle="Videos" name="page1"> 
    <wm-header content="header" name="header1"></wm-header> 
    <wm-content name="content1"> 
        <wm-left-panel columnwidth="2" content="leftnav" name="left_panel1"></wm-left-panel> 
        <wm-page-content columnwidth="10" name="page_content1"> 
            <wm-livegrid formlayout="dialog" name="livegrid2" service="skout@Videos"> 
                <wm-grid gridfirstrowselect="true" deleterow="true" updaterow="true" insertrow="true" readonlygrid="false" title="videos List" dataset="bind:Variables.SkoutVideosData.dataSet" navigation="Basic" name="grid1" class="panel-default"> 
                    <wm-grid-column binding="description" caption="Description" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                    <wm-grid-column binding="createdDate" caption="Created Date" type="date" generator="assigned" search-placeholder="Enter date in yyyy-mm-dd" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                    <wm-grid-column binding="likedCount" caption="Liked Count" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                    <wm-grid-column binding="seenCount" caption="Seen Count" type="integer" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                    <wm-grid-column binding="videoStatus" caption="Video Status" type="string" generator="assigned" pcdisplay="true" mobiledisplay="true" readonly="false"></wm-grid-column> 
                    <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action> 
                </wm-grid> 
                <wm-liveform novalidate="false" title="videos Info" formlayout="dialog" dataset="bind:Variables.SkoutVideosData.dataSet" captionalign="left" captionposition="top" name="liveform2" class="panel-default"> 
                    <wm-layoutgrid name="layoutgrid3"> 
                        <wm-gridrow name="gridrow6"> 
                            <wm-gridcolumn columnwidth="12" name="gridcolumn8"> 
                                <wm-form-field name="description" displayname="Description" show="true" primary-key="false" generator="assigned" key="description" type="string" is-related="false" pc-display="true" mobile-display="true" widget="text" maxchars="255" inputtype="text" regexp=".*" placeholder="Enter value"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                        <wm-gridrow name="gridrow1"> 
                            <wm-gridcolumn name="gridcolumn1" columnwidth="12"> 
                                <wm-form-field name="path" displayname="Path" show="true" primary-key="false" generator="assigned" key="path" type="string" is-related="false" required="required" pc-display="true" mobile-display="true" widget="upload" maxchars="500"></wm-form-field> 
                            </wm-gridcolumn> 
                        </wm-gridrow> 
                    </wm-layoutgrid> 
                    <wm-form-action key="cancel" display-name="Cancel" show="true" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" type="button" update-mode="true"></wm-form-action> 
                    <wm-form-action key="save" display-name="Save" show="true" class="form-save btn-success" iconclass="wi wi-save" type="submit" update-mode="true"></wm-form-action> 
                </wm-liveform> 
            </wm-livegrid> 
        </wm-page-content> 
    </wm-content> 
    <wm-footer content="footer" name="footer1"></wm-footer> 
</wm-page>