<wm-page data-ng-controller="profilePageController" name="page1"> 
    <wm-content name="content1"> 
        <wm-page-content columnwidth="12" name="page_content1"> 
            <wm-layoutgrid name="layoutgrid1"> 
                <wm-gridrow name="gridrow1"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn1" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em"> 
                        <wm-tile name="tile6_1"> 
                            <wm-layoutgrid name="layoutgrid2"> 
                                <wm-gridrow name="gridrow6"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn13_1" horizontalalign="center" paddingtop="1" paddingunit="em"> 
                                        <wm-picture name="wmProfileSocialV2ProfilePic" shape="circle" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg" pictureaspect="None" textalign="left" bordercolor="#c7c7c7" borderstyle="solid" bordertop="1" borderleft="1" borderright="1" borderbottom="1"></wm-picture> 
                                        <wm-label name="wmProfileSocialV2ProfileNameLbl" width="100%" caption="Jonathan Doe" fontweight="bold" class="h2"></wm-label> 
                                        <wm-label width="100%" caption="coder | photographer | artist" name="wmProfileSocialV2ProfileDescLbl" class="text-uppercase"></wm-label> 
                                        <wm-anchor name="wmProfileSocialV2ProfileLinkAnchor" caption="JaneDoe.wordpress.com" display="inline"></wm-anchor> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                                <wm-gridrow name="gridrow7"> 
                                    <wm-gridcolumn columnwidth="12" name="gridcolumn16_1" horizontalalign="center" paddingbottom="1" paddingunit="em" paddingtop="1"> 
                                        <wm-button caption="" iconclass="fa fa-google-plus" paddingunit="em" paddingleft="1" paddingright="1" class="btn-primary" marginleft=".5" marginright=".5" paddingtop=".5" paddingbottom=".5" marginunit="em" name="wmProfileSocialV2GoogleplusBtn" fontsize="1.5" fontunit="em" margintop=".5" marginbottom=".5" backgroundcolor="#db4437" borderstyle="none"></wm-button> 
                                        <wm-button caption="" iconclass="fa fa-twitter" paddingunit="em" paddingleft="1" paddingright="1" class="btn-primary" marginleft=".5" marginright=".5" paddingtop=".5" paddingbottom=".5" marginunit="em" name="wmProfileSocialV2TwitterBtn" fontsize="1.5" fontunit="em" margintop=".5" marginbottom=".5" backgroundcolor="#55acee" borderstyle="none"></wm-button> 
                                        <wm-button name="wmProfileSocialV2FbBtn" caption="" iconclass="fa fa-facebook" paddingunit="em" paddingleft="1" paddingright="1" class="btn-primary" marginleft=".5" marginright=".5" paddingtop=".5" paddingbottom=".5" marginunit="em" fontsize="1.5" fontunit="em" margintop=".5" marginbottom=".5" backgroundcolor="#3b5998" borderstyle="none"></wm-button> 
                                    </wm-gridcolumn> 
                                </wm-gridrow> 
                            </wm-layoutgrid> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow2"> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn4" paddingleft=".5" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" horizontalalign="center"> 
                        <wm-tile name="tile3" horizontalalign="center" backgroundcolor="#404040" color="#fff" paddingtop="1" paddingbottom="1" paddingunit="em"> 
                            <wm-label name="wmProfileSocialV2300Lbl" caption="300" fontweight="bold" width="100%" class="h2" margintop="0" marginunit="em"></wm-label> 
                            <wm-label name="wmProfileSocialV2PostsLbl" caption="posts" width="100%" class="text-uppercase" marginbottom="0"></wm-label> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn5" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em" horizontalalign="center"> 
                        <wm-tile name="tile4" backgroundcolor="#404040" color="#ffab0a" paddingtop="1" paddingbottom="1" paddingunit="em"> 
                            <wm-label caption="21K" fontweight="bold" name="wmProfileSocialV221KLbl" width="100%" class="h2" margintop="0" marginunit="em" accessroles="Authenticated"></wm-label> 
                            <wm-label caption="followers" name="wmProfileSocialV2FollowLbl" width="100%" class="text-uppercase" marginbottom="0"></wm-label> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn6" paddingunit="em" paddingleft=".5" paddingtop=".5" paddingright=".5" paddingbottom=".5" horizontalalign="center"> 
                        <wm-tile name="tile5" backgroundcolor="#404040" color="#89e5fa" paddingtop="1" paddingbottom="1" paddingunit="em"> 
                            <wm-label caption="200" fontweight="bold" name="wmProfileSocialV2200Lbl" width="100%" class="h2" margintop="0"></wm-label> 
                            <wm-label caption="reposts" name="wmProfileSocialV2ReportsLbl" class="text-uppercase" marginbottom="0"></wm-label> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="3" name="gridcolumn16" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em" horizontalalign="center"> 
                        <wm-tile name="tile6" backgroundcolor="#404040" color="#fff" paddingtop="1" paddingbottom="1" paddingunit="em"> 
                            <wm-label caption="53" fontweight="bold" name="wmProfileSocialV253Lbl" width="100%" class="h2" margintop="0"></wm-label> 
                            <wm-label caption="Views" name="wmProfileSocialV2ViewLbl" width="100%" class="text-uppercase" marginbottom="0"></wm-label> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow3"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn7" horizontalalign="center" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em"> 
                        <wm-tile name="tile9" paddingtop="2" paddingleft=".5" paddingright=".5" paddingbottom="2" paddingunit="em"> 
                            <wm-label name="wmProfileSocialV2AboutLbl" caption="about" width="100%" class="h3 text-uppercase" margintop="0"></wm-label> 
                            <wm-label caption="I'm an independent thought leader on social and emerging technologies at a leading software firm. I am interested in Golf and Opera apart from my day job." width="70%" name="label24_1" paddingtop=".5" paddingbottom=".5" paddingunit="em"></wm-label> 
                            <wm-label caption="Birthday : 15 JUN 1982" width="100%" name="wmProfileSocialV2DobLbl"></wm-label> 
                            <wm-label caption="Political Views : Liberal" width="100%" name="wmProfileSocialV2PolictalviewsLbl"></wm-label> 
                            <wm-label caption="Location : Sunnyvale, CA" width="100%" name="wmProfileSocialV2LocLbl"></wm-label> 
                        </wm-tile> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow4"> 
                    <wm-gridcolumn columnwidth="8" name="gridcolumn10" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em"> 
                        <wm-tabs name="tabs1" height="30em"> 
                            <wm-tabpane name="tabpane1" heading="ACTIVITY">   
                                <wm-livelist listclass="list-group" itemclass="list-group-item" template="true" name="livelist3" dataset="1, 2, 3, 4, 5, 6"> 
                                    <wm-listtemplate layout="media" name="listtemplate3"> 
                                        <wm-container class="media" name="container5"> 
                                            <wm-container class="media-left" name="container6"> 
                                                <wm-icon name="icon2" iconclass="glyphicon glyphicon-user" iconsize="2em"></wm-icon> 
                                            </wm-container> 
                                            <wm-container class="media-body" data-template-ctr="true" name="container7"> 
                                                <wm-label name="label22" caption="Did something on this day" class="h4" width="100%" paddingbottom=".5" paddingunit="em"></wm-label> 
                                                <wm-label name="label23" width="100%" caption="on 10/10/2000" textalign="right"></wm-label> 
                                            </wm-container> 
                                            <wm-container class="media-right media-middle" name="container8"></wm-container> 
                                        </wm-container> 
                                    </wm-listtemplate> 
                                </wm-livelist>
                            </wm-tabpane> 
                            <wm-tabpane name="tabpane2" heading="FOLLOWING" isdefaulttab="false">   
                            </wm-tabpane> 
                        </wm-tabs> 
                    </wm-gridcolumn> 
                    <wm-gridcolumn columnwidth="4" name="gridcolumn11" paddingtop=".5" paddingleft=".5" paddingright=".5" paddingbottom=".5" paddingunit="em"> 
                        <wm-panel class="panel-default panel-primary" collapsible="false" showheader="true" name="panel1" title="SIMILAR PROFILES" height="30em"> 
                            <wm-livelist listclass="list-group" name="livelist2" template="true" dataset="1, 2, 3, 4, 5, 6"> 
                                <wm-listtemplate layout="gridlayout" name="listtemplate2"> 
                                    <wm-layoutgrid class="gridlayout" name="layoutgrid11"> 
                                        <wm-gridrow name="gridrow18_2" paddingbottom="1" paddingunit="em"> 
                                            <wm-gridcolumn columnwidth="3" data-template-ctr="true" name="gridcolumn29_2" class="col-xs-3" paddingleft=".5" paddingbottom=".5" paddingunit="em" paddingright=".5" paddingtop=".5"> 
                                                <wm-picture class="picture" shape="circle" width="5em" name="picture9" picturesource="http://dev.wavemaker.com/example/comedians/stanleylaurel.jpg"></wm-picture> 
                                            </wm-gridcolumn> 
                                            <wm-gridcolumn columnwidth="9" data-template-ctr="true" name="gridcolumn30_1" class="col-xs-9" paddingleft="2" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em"> 
                                                <wm-label name="label24" width="100%" caption="John Doe" class="h4"></wm-label> 
                                            </wm-gridcolumn> 
                                        </wm-gridrow> 
                                    </wm-layoutgrid> 
                                </wm-listtemplate> 
                            </wm-livelist> 
                        </wm-panel> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
                <wm-gridrow name="gridrow5"> 
                    <wm-gridcolumn columnwidth="12" name="gridcolumn13" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em"> 
                        <wm-label name="wmProfileSocialV2PopularPostsLbl" caption="popular posts" class="h3 text-uppercase" margintop="0" width="100%" textalign="center"></wm-label> 
                        <wm-livelist listclass="list-group" template="true" name="livelist3_1" dataset="1, 2, 3 , 4" itemsperrow="2"> 
                            <wm-listtemplate layout="gridlayout" name="listtemplate3_1"> 
                                <wm-layoutgrid class="thumbnail" name="layoutgrid10_1" marginright=".5" marginunit="em" paddingleft=".5" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em" marginleft=".5" margintop=".5" marginbottom=".5" width="98%"> 
                                    <wm-gridrow name="gridrow17_1"> 
                                        <wm-gridcolumn columnwidth="3" data-template-ctr="true" name="gridcolumn28_1" paddingtop=".5" paddingleft=".5" paddingbottom=".5" paddingright=".5" paddingunit="em"> 
                                            <wm-picture class="picture" shape="rounded" width="100%" name="picture7_1"></wm-picture> 
                                        </wm-gridcolumn> 
                                        <wm-gridcolumn columnwidth="9" data-template-ctr="true" name="gridcolumn29_3" paddingleft=".5" paddingtop=".5" paddingright=".5" paddingbottom=".5" paddingunit="em"> 
                                            <wm-anchor name="anchor2" caption="Why companies need hacking culture? Hacking is one of the prominent fields. In the recent days demand for the experts in this field has grown up exponentially." class="h5" margintop="0"></wm-anchor> 
                                        </wm-gridcolumn> 
                                    </wm-gridrow> 
                                </wm-layoutgrid> 
                            </wm-listtemplate> 
                        </wm-livelist> 
                    </wm-gridcolumn> 
                </wm-gridrow> 
            </wm-layoutgrid> 
        </wm-page-content> 
    </wm-content> 
</wm-page>