<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label2" caption="bind:Variables.SkoutUsersData.dataSet.data[$i].playerses[$i].name"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-label name="label4" caption="bind:Variables.playerLogged.dataSet.name"></wm-label>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3 control-label" name="label3" caption="bind:Variables.SkoutUsersData.dataSet.data[$i].playerses[$i].id"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-label name="label5" caption="bind:Variables.loggedInUser.dataSet.id"></wm-label>
                </wm-container>
            </wm-composite>
            <wm-livegrid formlayout="dialog" name="livegrid1" service="skout@Users">
                <wm-grid gridfirstrowselect="true" readonlygrid="false" title="Users List" dataset="bind:Variables.SkoutUsersData.dataSet" navigation="Basic" name="grid1">
                    <wm-grid-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true"></wm-grid-column>
                    <wm-grid-column binding="username" caption="Username" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="password" caption="Password" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-column binding="email" caption="Email" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-grid-column>
                    <wm-grid-action key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()"></wm-grid-action>
                    <wm-grid-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-grid-row-action>
                    <wm-grid-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-grid-row-action>
                </wm-grid>
                <wm-liveform novalidate="false" title="Users Info" formlayout="dialog" dataset="bind:Variables.SkoutUsersData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                    <wm-layoutgrid name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn1">
                                <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn2">
                                <wm-form-field name="username" displayname="Username" required="false" show="true" generator="assigned" primary-key="false" key="username" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn3">
                                <wm-form-field name="password" displayname="Password" required="false" show="true" generator="assigned" primary-key="false" key="password" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow3">
                            <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn4">
                                <wm-form-field name="email" displayname="Email" required="false" show="true" generator="assigned" primary-key="false" key="email" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true" widget="text"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow4"></wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livegrid>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" name="dialog1">
            <wm-dialogheader caption="Form" iconclass="wi wi-edit" name="dialogheader1"></wm-dialogheader>
            <wm-dialogcontent name="dialogcontent1">
                <wm-form captionposition="top" class="app-dialog-form" name="form1">
                    <wm-composite name="composite1">
                        <wm-label class="col-md-3 control-label" caption="Name" name="label1"></wm-label>
                        <wm-text name="text1"></wm-text>
                    </wm-composite>
                </wm-form>
            </wm-dialogcontent>
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-secondary" caption="Cancel" on-click="closeDialog()" name="button2"></wm-button>
                <wm-button class="btn-primary" caption="Save" name="button3"></wm-button>
            </wm-dialogactions>
        </wm-dialog>
    </wm-view>
</wm-page>