<wm-page data-ng-controller="gameplayedPageController" pagetitle="Gameplayed" name="page1">
    <wm-content name="content1">
        <wm-page-content columnwidth="12" name="page_content1">
            <wm-liveform novalidate="false" title="Games_played Info" defaultmode="Edit" dataset="bind:Variables.SkoutGamesPlayedData.dataSet" captionalign="left" captionposition="top" name="liveform1">
                <wm-layoutgrid name="layoutgrid1">
                    <wm-gridrow name="gridrow1">
                        <wm-gridcolumn columnwidth="12" show="hide" name="gridcolumn1">
                            <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn2">
                            <wm-form-field name="minutesPlayed" displayname="Minutes Played" required="false" show="true" generator="assigned" primary-key="false" key="minutesPlayed" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow2">
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn3">
                            <wm-form-field name="yellowCards" displayname="Yellow Cards" required="false" show="true" generator="assigned" primary-key="false" key="yellowCards" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow3">
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn4">
                            <wm-form-field name="redCards" displayname="Red Cards" required="false" show="true" generator="assigned" primary-key="false" key="redCards" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow4">
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn5">
                            <wm-form-field name="goalsScored" displayname="Goals Scored" required="false" show="true" generator="assigned" primary-key="false" key="goalsScored" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow5">
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn6">
                            <wm-form-field name="goalsTaken" displayname="Goals Taken" required="false" show="true" generator="assigned" primary-key="false" key="goalsTaken" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow6">
                        <wm-gridcolumn columnwidth="12" show="show" name="gridcolumn7">
                            <wm-form-field name="games" displayname="Games" required="false" show="true" generator="assigned" primary-key="false" key="games" type="list" is-related="true" pc-display="true" mobile-display="true" widget="select"></wm-form-field>
                            <wm-button class="btn-default" caption="New Game" type="button" name="newGame" on-click="goToPage_gameform"></wm-button>
                        </wm-gridcolumn>
                    </wm-gridrow>
                    <wm-gridrow name="gridrow7"></wm-gridrow>
                    <wm-gridrow name="gridrow8"></wm-gridrow>
                </wm-layoutgrid>
                <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
            </wm-liveform>
        </wm-page-content>
    </wm-content>
</wm-page>